/*******************
Rounds
*******************/
.round {
  line-height: 48px;
  color: $white;
  width: 45px;
  height: 45px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 100%;
  background: $info;
  img {
    border-radius: 100%;
  }
}

.message-box {
  ul li {
    .nav-link {
      border-top: 1px solid $border;
      padding-top: 15px;
    }
  }
  .message-widget {
    position: relative;
    a {
      border-bottom: 1px solid $border;
      display: flex;
      text-decoration: none;
      padding: 9px 15px;
      &:hover {
        background: $light;
      }
      &:last-child {
        border-bottom: 0px;
      }
      div {
        white-space: normal;
      }
      .user-img {
        width: 45px;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        img {
          width: 100%;
        }
        .profile-status {
          border: 2px solid $white;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          left: 33px;
          position: absolute;
          top: -1px;
          width: 10px;
        }
        .online {
          background: $success;
        }
        .busy {
          background: $danger;
        }
        .away {
          background: $warning;
        }
        .offline {
          background: $warning;
        }
      }
      .mail-contnet {
        display: inline-block;
        width: 73%;
        vertical-align: middle;
        h5 {
          margin: 5px 0px 0;
          color: #212121;
        }
        .mail-desc,
        .time {
          font-size: 12px;
          display: block;
          margin: 1px 0;
          text-overflow: ellipsis;
          overflow: hidden;
          color: $bodytext;
          white-space: nowrap;
        }
      }
    }
  }
}

.add-contact {
  position: absolute !important;
  right: 17px;
  top: 57px;
}

.little-profile {
  .pro-img,
  .pro-img:first-child {
    margin-top: -110px;
    margin-bottom: 20px;
    img {
      width: 128px;
      height: 128px;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 100%;
    }
  }
}


html body {
        .bg-megna {
            background-color: $megna;
        }
        .bg-theme {
            background-color: $themecolor;
        }
        
        .bg-inverse {
            background-color: $inverse;
        }
        
        .bg-purple {
            background-color: $purple!important;
        }
        
        .bg-light-primary {
            background-color: $light-primary;
        }
        
        .bg-light-success {
            background-color: $light-success;
        }
        
        .bg-light-info {
            background-color: $light-info;
        }
        .bg-light-extra {
            background-color: $extra-light;
        }
        
        .bg-light-warning {
            background-color: $light-warning;
        }
        
        .bg-light-danger {
            background-color: $light-danger;
        }
        
        .bg-light-inverse {
            background-color: $light-inverse;
        }
        .bg-light {
            background-color: $light;
        }
        .bg-white {
            background-color: $white;
        }
      }

      
.label {
  padding: 3px 10px;
  line-height: 13px;
  color: $white;
  font-weight: 400;
  border-radius: $radius;
  font-size: 75%;
}

.label-rounded {
  border-radius: 60px;
}

.label-custom {
  background-color: $megna;
}

.label-success {
  background-color: $success;
}

.label-info {
  background-color: $info;
}

.label-warning {
  background-color: $warning;
}

.label-danger {
  background-color: $danger;
}

.label-megna {
  background-color: $megna;
}

.label-primary {
  background-color: $primary;
}

.label-purple {
  background-color: $purple;
}

.label-red {
  background-color: $red;
}

.label-green {
  background-color: $green;
}

.label-default {
  background-color: $light;
}

.label-white {
  background-color: $white;
}


.label-light-success {
  background-color: $light-success;
  color:$success;
}

.label-light-info {
  background-color: $light-info;
  color:$info;
}

.label-light-warning {
  background-color: $light-warning;
  color:$warning;
}

.label-light-danger {
  background-color: $light-danger;
  color:$danger;
}

.label-light-megna {
  background-color: $light-megna;
  color:$megna;
}

.label-light-primary {
  background-color: $light-primary;
  color:$primary;
}

.label-light-inverse {
  background-color: $light-inverse;
  color:$inverse;
}